<!DOCTYPE html />
<html ng-app="gophervids">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Gophervids ATOM Feed" />
  <link rel="alternate" type="application/rss+xml" title="Gophervids RSS Feed" href="/rss.xml" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55226077-1', 'auto');
    ga('send', 'pageview');
  </script>

  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Gophervids ATOM Feed" />
  <link rel="alternate" type="application/rss+xml" title="Gophervids RSS Feed" href="/rss.xml" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- <link href="/static/style.css" rel="stylesheet" /> -->

  <!-- <link href="/static/video-js.css" rel="stylesheet"> -->
  <link href="/static/seamless.css" rel="stylesheet" />
  <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="/static/vids.js"></script>
  <script src="http://vjs.zencdn.net/4.12/video.js"></script>
  <script src="/static/vjs.youtube.js"></script>
  <script src="/static/vjs.vimeo.js"></script>
</head>
<body ng-controller="GopherTVController">

    <header class="header columns">
      <div class="page">
        <a href="/" class="logo"></a>
        <a href="#bottomMenu" class="mobile menu"></a>
        <nav class="desktop menu">
          <ul>
            <li><a href="https://github.com/dgryski/gophervids">Github</a></li>
            <li><a href="https://gophers.slack.com">Community</a></li>
            <li><a href="https://github.com/dgryski/gophervids/issues">Feedback</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="filter_lists" class="columns filter_lists">
      <div class="page">
        <ul class="filters">
          <li class="activeMenu">
            <a href="" class="gs" ng-click="clear()">Getting Started</a>
          </li>
          <li>
            <a href="" ng-click="newVideos()">New Videos</a>
          </li>
          <li>
            <a href="" ng-click="recentTalks()">Recent Talks</a>
          </li>
          <li class="dropdown">
            <!-- <a href="" ng-click="#">Speakers</a> -->
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Video Tags <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-repeat="tag in tags">
                    <a href="" ng-click="playTag(tag.item)"><span class="badge pull-right">{{tag.count}}</span>{{tag.item}}</a>
                </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Speakers <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-repeat="speaker in speakers">
                    <a href="" ng-click="playSpeaker(speaker.item)"><span class="badge pull-right">{{speaker.count}}</span>{{speaker.item}}</a>
                </li>
            </ul>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </section>

    <section class="columns video_page">
      <div class="page">
        <div class="video_container">
          <!-- <h3 ng-bind="currentPlaylist[currentIndex].title"></h3> -->
          <!-- <go-video playlist="currentPlaylist" index="currentIndex" max-width="640" height="360"/> -->
          <br/>
        </div>
      </div>
      <div class="clear"></div>
    </section>

    <section class="columns video_controls">
        <div class="page">
          <div class="filter form-group">
              <label>Filter</label>
              <input ng-focus="loadTalks()" type="text" class="form-control" placeholder="Title Search" ng-model="searchText.title">
              <div class="filterClear"></div>
          </div>
          <div class="slide">
            <label>Play All</label>
            <slider class="slided" placeholder="Play All" ng-click="enableAllPlay()" checked slide-ball></slider>
            <div class="filterClear"></div>
          </div>
          <div class="clear"></div>
        </div>
    </section>

    <section class="columns video_lists">
        <div class="page">
          <ul>
            <li ng-repeat="video in sidebarVideoList() | filter:searchText">
              <exvids id={{video.id}} url={{video.url}} ex-video>
                <span class="playButton"></span>
                <span class="playTitle">{{video.title}}</span>
              </exvids>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
    </section>

    <footer class="columns">
      <div class="page">

        <div class="ft tribute columns">
          <h3>Made with Love</h3>
          <br/>

        </div>

        <div id="bottomMenu" class="ft mobile columns">
          <h3>Menu</h3>
            <ul class="menu">
              <li><a href="https://gophers.slacks.com">Community</a></li>
              <li><a href="https://github.com/dgryski/gophervids">Feedback</a></li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="ft contrib columns">
            <h3>Contributors:</h3>
            <ul>
              <li><a href="https://gophers.slack.com">Gopher Community</a></li>
              <li><a href="https://github.com/dgryski/">Damian Gryski <span>(@dgryski)</span></a></li>
              <li><a href="https://github.com/dutchcoders/">Remco Verhoef <span>(@remco)</span></a></li>
              <li><a href="https://github.com/influx6">Alex Ewetumo <span>(@alex.ewetumo)</span></a></li>
              <li><a href="https://github.com/dgryski/gophervids/graphs/contributors">  ...many more</a></li>
            </ul>
          <div class="clear"></div>
        </div>

        <div class="ft connect columns">
            <h3>Connect</h3>
            <ul>
              <li><a href="https://github.com/dgryski/gophervids">Github</a></li>
              <li><a href="https://facebook.com/gopherAcademy">Facebook</a></li>
            </ul>
        </div>

      </div>
    </footer>


</body>
</html>
