html{
	font-size: 1em;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-width: 320px;
}

.fatherWrap{
	width: 100%;
	height: 100%;
}

.relativePosition{
	position: relative;
}

a{
	text-decoration: none;
	color: rgba(0,0,0,1);
}

ul {
	list-style: none;
}

.large_brand{
	height: 500px;
}

.small_brand{
	height: 100px;
}

.imgScale{
	width: 100%;
	height: 100%;
}

.brand_logo_header{
	vertical-align: top;
}

.hidden{
	display: none;
}

.brand_section{
	/*background: rgba(132,132,132,1);*/
}

.brand_logo_menu_section{
	width: 100%;
	height: auto;
}

.brand_logo_menu_section .brand_logo{
	width: 3.0em;
	height: 200px;
}

.brand_logo_menu_section .brand_logo div{

}

.brand_logo_menu_section .brand_logo div.brand_logo_image{
	width: 2.0em;
	height: 100%;
}


.brand_logo_menu_section .brand_menu{
	/*font-size: 1em;*/

}

.brand_logo_menu_section .brand_menu .brand_menu_nav{
}

.brand_logo_menu_section .brand_menu .brand_menu_nav nav{
}

.brand_logo_menu_section .brand_menu .brand_menu_nav nav ul{

}

.brand_logo_menu_section .brand_menu .brand_menu_nav nav ul li{

}

@media (min-width: 859.6555px) and (max-width: 5000px){

	/*.video_section::-webkit-scrollbar,.video_section	.item_panel::-webkit-scrollbar{
		display: none;
	}*/

	.brand_logo{
		font-size: 1500%;
	}

	.brand_logo_menu_section .brand_logo{
		height: 250px;
	}
}

@media (min-width: 700px) and (max-width:860px){

	.fatherWrap{
	}

	.brand_logo{
		font-size: 900%;
	}

	.brand_logo_menu_section .brand_logo{
		height: 200px;
	}
}

@media (min-width: 680px) and (max-width:700px){

	.fatherWrap{
	}

	.brand_logo{
		font-size: 700%;
	}

	.brand_logo_menu_section .brand_logo{
		height: 170px;
	}
}

@media (min-width: 480px) and (max-width:680px){

	.fatherWrap{
	}

	.brand_logo{
		font-size: 500%;
	}

	.brand_logo_menu_section .brand_logo div.brand_logo_image{
		width: 3.0em;
	}

	.brand_logo_menu_section .brand_logo{
		height: 150px;
	}
}

@media (min-width: 320px) and (max-width: 490px){

	.fatherWrap{
	}

	.brand_logo{
		font-size: 290%;
	}

	.brand_logo_menu_section .brand_logo{
		height: 100px;
	}

	.brand_logo_menu_section .brand_logo div.brand_logo_image{
		width: 3.0em;
	}

	.brand_logo_menu_section .brand_logo div.brand_logo_image img{
		width: 120%;
		/*height: inherit;*/
		height: 100%;
	}
}
